*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-color: white;
    background-size: cover;
    height: 100vh;
  }
  h3{
    padding-bottom: 10px;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  .sentence1{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
  }
  .wala{
    padding-bottom: 25px;
  }
  .sentence2{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .sentence3{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
  }
  ul li{
    padding-top: 15px;
    list-style: none;
  }
  .form{
      width: 1000px;
      margin: auto;
      height: auto;
      padding-top: 10%;
      padding-bottom: 50px;
      
  }
  .box{
    height: 500px;
    width: 1000px;
    text-align: center;
    border: 7px solid black;
    background: #efece8;
  }
  .input{
    background:  #a6a6a6;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 300px;
    height: 40px;
  }
  .button{
    background-color: #a6a6a6;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
      margin: 5px 0;
      padding: 10px;
      margin-top: 20px;
      border: none;
      color: white;
      width: 40%;
      cursor: pointer;
  }
  .loginwith{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  .accountCR:hover{
    background-color: white;
    color: black;
  }
  ::placeholder{
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  .forgPass{
    font-family: 'Open Sans', sans-serif;
    color: black;
  }
  .accountCR{
    background-color: #a6a6a6;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
      margin: 5px 0;
      padding: 10px;
      padding-left: 70px;
      padding-right: 70px;
      margin-top: 20px;
      border: none;
      color: white;
      width: 40%;
      cursor: pointer;
      text-decoration: none;
  }
  
  .fbIcon{
    float: left;
    width: 25%;
    padding: 3px;
    object-position: center top;  
    margin-left: 410px;
    position: relative;
    height: 45px;
    width: auto;
  }
  .gmIcon{
    float: left;
    width: 25%;
    object-position: center top;  
    position: relative;
    padding: 3px;
    margin-left: 70px;
    margin-top: -15px;
    height: 45px;
    width: auto;
  }